<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="saveuser">
        First Name :- <input type="text" placeholder="first name" name="firstName" id=""><br><br>
        Email :- <input type="email" placeholder="email" name="email" id=""><br><br>
        Password :- <input type="password" placeholder="password" name="password" id=""><br> <br>
        <br>
        <input type="submit" value="Signup">
    </form>
</body>

</html>